*{
    font-family: serif;
}

.site-title{
    background-color: rgb(213, 89, 89);
    color: white;
    font-size: 30px;
    display: block;
    height: 60px;
    width: auto;
    padding:12px 18px;
    box-sizing: border-box;
}

.recipe-title{
    text-align: center;
}

.recipe-img{
    display: block;
    margin: 0px auto;
}